html {
    background-color: #A49393;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    background-color: #EED6D3;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    
}

img {
    display: block;
    margin: auto;
    height: auto;
    width: 300px;
}

.description {
    text-align: center;
    padding: 10px;
    background-color: #EED6D3;
    border-radius: 15px;
    margin-top: 10px;
}

.ingredients {
    background-color:#EED6D3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.steps {
    background-color: #EED6D3;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}